@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --primary: #20496c;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-primary {
  color: #20496c;
}

.text-secondary {
  color: #4f637d;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  .dark {
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
